body{
  background-color: white;
}

.topHeader{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    color:#FFFFFF;
    
    
}

.topMenu{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    color:#FFFFFF;
    padding: 10px;
}

.mainHeader{
  background-color: #0C9786;
}

.container{
  margin:0 auto;
  width:80%;
}

.menuHeader{
  background-color: #3D3D3D;
  
}

.logo{
  width: 30%;
}

.menuList li{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}